@import '../../master.scss';

.playlist {
  &__info {
    & {
      margin-bottom: $margin;

      display: flex;
      flex-flow: row wrap;
    }

    &__art {
      img {
        width: 135px;
        height: 135px;
      }
    }

    &__meta {
      & {
        width: calc(100% - 150px);
        margin-left: $margin;

        display: flex;
        flex-flow: column wrap;
      }

      .playlist__year {
        color: $grey;
        letter-spacing: 1px;
      }

      .playlist__name {
        color: $white;
        font-size: $xx-large / 1.2;
        font-weight: 100;
      }

      .playlist__actions {
        margin-top: auto;

        .save {
          padding-left: $padding-lg;
          padding-right: $padding-lg;
          margin-right: $margin-sm;

          &:hover {
            border-color: $green;
          }
        }

        .more {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
}
