@import "../../../master.scss";

.Playlist {
  &__info {
    & {
      margin-bottom: $margin;

      display: flex;
      flex-flow: row wrap;
    }

    &__art {
      img {
        width: 135px;
        height: 135px;
      }
    }

    &__meta {
      & {
        width: calc(100% - 150px);
        margin-left: $margin;

        display: flex;
        flex-flow: column wrap;
      }

      &__year {
        color: $grey;
        letter-spacing: 1px;
      }

      &__name {
        color: $white;
        font-size: $xx-large / 1.2;
        font-weight: lighter;
      }
    }
  }
}

@media (max-width: 499px) {
  .Playlist {
    &__name {
      color: $white;
      font-size: $xx-large / 1.2;
      font-weight: lighter;
    }
  }
}
