@import '../../master.scss';

body {
  background: $black;
  font-family: 'Roboto', sans-serif;
  a {
    color: $grey;
    
    &:hover {
      color: $sand;
    }
  }
  
}

.Home {
  &__controls {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $black;
    &__input {
        display: flex;
        justify-content: left;
        margin: 10px
    }
  }

  &__music {
    position: relative;
    top: 100px;
    z-index: 1;
  }
}

.TagSource {
  padding: 7px;
  border-radius: 10px;
  border: None;
}
