@import "../../master.scss";

.track {
  & {
    border-top: 1px solid $light-black;
    height: 42px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    animation-duration: 1s;
    animation-name: slidein;

    @keyframes slidein {
      from {
        margin-top: -1%;
        opacity: 0;
      }

      to {
        margin-top: 0%;
        opacity: 1;
      }
    }
  }

  &:hover {
    background: $light-black;
  }

  &:last-child {
    border-bottom: 1px solid $light-black;
  }

  &__art {
    img {
      width: 42px;
      height: 42px;
    }
  }

  &__number {
    margin-left: $margin-sm;
    color: $grey;
    width: 32px;

  }

  &__title {
    width: auto !important;
    // width: 45%;
    margin-left: $margin * 2;
    color: $white;

    &__artists {
      .title {
        &:after {
          margin: 0 $margin-xs;
        }
      }

      color: $grey;
      padding: 0 $padding-sm;

    }
  }
  &__divider {
    display: flex;
    flex: 1;
  }

  &__addTag {
    color: $grey;
    font-weight: light;
    font-size: x-large;
    cursor: pointer;
  }
}

.tags {
  & {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .track {
    &__title {
      width: auto !important;
    }

    &__explicit {
      display: none;
    }

    &__popularity {
      display: none;
    }
  }
}
