@import '../../master.scss';

.ItemsControls {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 100px;
}

@media (max-width: 499px){
    .ItemsControls {
        display: flex;
        justify-content: space-evenly;
        padding: 25px 0px;
        height: 42px
    }
}