@import '../../master.scss';

.Layout {
  & {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 10px;
    box-sizing: border-box;
    z-index: 90;
  }
  &__logo {
    color: $green;
    height: 30px;
  }

}

.Content {
    // margin-top: 55px;
    margin: 55px 20px 0 20px;
}

